/* .wrap {
    max-width: 980px;
    margin: auto;
  } */
  
  .nav-logo {
    width: 24px;
    height: 24px;
    border-radius: 10%;
  }
  
  .smartg {
    align-items: center;
    justify-content: center;
    display: flex;
    font:100px;
    padding: 0.5rem;
    background-color: #000018;
  }
  
  .heading-text {
    padding-left: 10px;
    margin: 0;
    color: white;
    font-size: 1.4rem;
    font-family: "Arial Rounded MT Bold";
  }
  
  .picture-cards {
    display: flex;
    /* padding: 0.1rem; */
    border-bottom: 3px solid #000018;
  }
  
  .destination-pictures {
    width: 35%;
    height: 35%;
  }
  .picture-content {
    padding: 30px;
  }